.contenido-tarjeta {
  padding: 50px;
  height: 330px;
  font-size: x-large;
}

.footer-tarjeta {
  text-align: center;
  font-size: x-large;
}

.contenido-header {
  font-size: xx-large;
}

.box-general {
  margin-top: 10%;
  margin-bottom: auto;
}
