<div class="container">
  <h1>Bienvenido</h1>
  <div class="row box-general">
    <div class="col">
      <mat-card class="tarjeta">
        <mat-card-header>
          <mat-card-title class="contenido-header">
            <p>Ruta</p>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="contenido-tarjeta">
          <p>
            En este menú podrás:
          </p>
          <p>- Visualizar rutas.</p>
          <p>
            - Crear y editar rutas, agregando parámetros de vuelo como su
            altura, posicion inicial y final.
          </p>
          <p>- Cargar rutas desde archivos y almacenarlas en la nube.</p>
        </mat-card-content>
        <mat-card-actions class="footer-tarjeta">
          <a href="/main/ruta">Ver más</a>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="tarjeta">
        <mat-card-header>
          <mat-card-title class="contenido-header">
            <p>Misión</p>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="contenido-tarjeta">
          <p>
            En este menú podrás:
          </p>
          <p>- Crear misiones.</p>
          <p>
            - Ejecutar misiones.
          </p>
          <p>- Visualizar el progreso de una misión en curso.</p>
        </mat-card-content>
        <mat-card-actions class="footer-tarjeta">
          <a href="/main/vuelo">Ver más</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
